numpy==1.26.4
h5py
mujoco==3.3.0
PyOpenGL
glfw
egl_probe
opencv-python-headless
matplotlib
scipy
numba==0.59.1
llvmlite==0.42.0
diffusers==0.11.1
transformers==4.41.2
huggingface-hub==0.23.4
tokenizers==0.19.1
safetensors
PyYAML
tqdm
tensorboard
tensorboardX
psutil
pytest
mink
qpsolvers
quadprog
robosuite_models
imageio
imageio-ffmpeg
pynput
python-xlib
evdev
requests
regex
sympy
protobuf
absl-py
grpcio
Pygments
termcolor
Werkzeug
